snippet slide
<section>
    <h2></h2>
    <p>
    </p>
    <aside class="notes">
    </aside>
</section>
endsnippet

snippet codeslide
<section>
    <h2></h2>
    <pre class="stretch"><code data-trim>
    </code></pre>
</section>
endsnippet
